.flip-container {
   perspective: 1000px;
   display: inline-block;
   background: #F5FFFA;
 }
 img{
   border-radius: 5px;
 }
 .flip-container.flipped .flipper {
   transform: rotateY(180deg);
 }
 
 .flipper {
   transition: 0.6s;
   transform-style: preserve-3d;
   position: relative;
 }
 
 .front,
 .back {
   backface-visibility: hidden;
   position: absolute;
   left: 0;
   top: 0;
 }
 
 .back {
   z-index: 2;
   /* for firefox 31 */
   transform: rotateY(0deg);
 }
 
 .front {
   transform: rotateY(180deg);
 }
 .frontText{
  color:black;
  background-color: #3C7197;
  font-size: 4vh;
  border: 1.5px solid #00618E;
  border-radius: 5px;
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0;
 }
 .frontText1{
  color:black;
  background-color: #3C7197;
  font-size: 4vh;
  border: 1.5px solid #00618E;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
 }
 p{
   margin: 0;
   padding: 0;
 }
